@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css");

// Variable overrides
$primary: #32c36c;
$secondary: #253745;

@import 'node_modules/bootstrap/scss/bootstrap';

// Class overrides
.mask-readonly-input:read-only {
  background: white;
  border: none;
  padding-left: 0;
}

.text-shadow {
  text-shadow: 0.5px 0.5px 1px #777;
}

// Css variables overrides
:root {
  --bs-secondary-rgb: $secondary;
}
